// body {
//     background-color: red;
// }
//
// #root {
//     width: 100%;
//     background-color: #282c34;
// }

.xd-footer {
    min-height: 45px;
    line-height: 45px;
}

.xd-segment {
    border-radius: 0;
}

.xd-tags {
    font-size: 12px;
    line-height: 2.2rem;
    color: #9EABB3;
}

.xd-tags .tag {
    display: inline-block;
    margin: 0 .2rem;
}

.xd-tags .tag a {
    display: inline-block;
    padding: .3rem .5rem;
    border-radius: 2px;
    background: #f1f1f1;
    color: #3498db;
    line-height: 1.1;
    cursor: pointer;
}

.xd-error {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    box-shadow: none;
}

.xd-content {
    padding: 2rem 0;
}

.xd-backTop {
    position: fixed;
    right: 6rem;
    bottom: 80px;
}
